/vendor/
node_modules/
npm-debug.log
yarn-error.log

bootstrap/compiled.php

# Laravel
public/hot
/public/build

# Storage (solo public se versiona)
storage/*
!storage/app/
!storage/app/public/
!storage/app/public/**

.env
.env.backup
.env.production

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.phpactor.json
auth.json
